In [1]:
pwd

'C:\\Users\\hasif\\Desktop\\Decoris company profile'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
udata = pd.read_csv('users.csv')

C:\Users\hasif\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,6,10,11,13,18,24,27,31,39,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,961,965,966,968,974,978,979,981,984,987,989,990,991,993,994,995) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
udata

,__v,_id,about,accountType,businessNature,childAccounts,clientOrigin,commercialPic,company,companyName,...,Unnamed: 986,Unnamed: 987,Unnamed: 988,Unnamed: 989,Unnamed: 990,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995
0,14,5f0d74cef7086100081ebb0f,Alan is a graduate of UiTM in Graphic Design. ...,NaN,NaN,[],NaN,NaN,5e3a7ed59de016f90b2edd55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"{""""$oid"""":""""605abde7775c670007224e32""""}","{""""$oid"""":""""605abe894fcfd3000714d39d""""}","{""""$oid"""":""""605abf82965d2f000ac52506""""}","{""""$oid"""":""""605ac1c26192650009afe3c0""""}","{""""$oid"""":""""605af95e79d4a40005132159""""}","{""""$oid"""":""""605bf2f95cde2c000ab6fd3d""""}","{""""$oid"""":""""605c10f731ce260005beabbe""""}","{""""$oid"""":""""605c47f5e077140005ae36b2""""}","{""""$oid"""":""""605d3f64b8b6ce000765523d""""}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16,5f0ecabf148d15000889fb09,Sin Ter May Sdn. Bhd was founded in 1983 in Ma...,Main,Jewellery,[],MY,6073e10d147c8e0008da2b88,5f0ecabf148d15000889fb0a,Sin Ter May Sdn. Bhd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,5f2a5679b000e5000814acb9,NaN,Child,NaN,[],NaN,NaN,5f2a4d21e20ec10008ec41b5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,5f30e5052ad0820008202029,Hazim graduated from UIA with a bachelor of sc...,NaN,NaN,[],NaN,NaN,5e3a7ed59de016f90b2edd55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,0,62de081ec36b1a152aaff688,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903,0,62de60886fe360dc34f8fed2,NaN,Main,NaN,NaN,NaN,61d51a814a2e3a0009945232,62de60886fe360dc34f8fed3,KDMRS Muslim,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,0,62df53d6cf7f9fbfabe61de6,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905,0,62df66c402ff436100394240,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,0,62df66f8c77d30f942cdb3c1,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#data set is too noisy. the slightly-pre-processed dataset is used instead.

In [11]:
udata = pd.read_excel('users comments xl edited.xlsx')

In [5]:
udata

,__v,_id,about,accountType,businessNature,childAccounts,clientOrigin,commercialPic,company,companyName,...,passwordUpdatedAt,pendingActions,phoneNo,position,profilePhoto,role,status,tutoCompletedMobile,tutoCompletedWeb,updatedAt
0,14.0,5f0d74cef7086100081ebb0f,Alan is a graduate of UiTM in Graphic Design. ...,NaN,NaN,[],NaN,NaN,5e3a7ed59de016f90b2edd55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16.0,5f0ecabf148d15000889fb09,Sin Ter May Sdn. Bhd was founded in 1983 in Ma...,Main,Jewellery,[],MY,6073e10d147c8e0008da2b88,5f0ecabf148d15000889fb0a,Sin Ter May Sdn. Bhd.,...,NaN,[],60123305511,NaN,NaN,Client,NaN,"[{""_id"":{""$oid"":""61c4971e86fa6f0009dc7a4d""},""n...","[{""_id"":{""$oid"":""5fe1439bd51b72000890911a""},""n...",2022-07-21T05:27:22.149Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,0.0,62de081ec36b1a152aaff688,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-07-25T05:42:07.396Z,[],60122115858,NaN,NaN,Client,NaN,[],"[{""name"":""tutorialDashboard"",""status"":true,""_i...",2022-07-25T05:42:21.729Z
1927,0.0,62de60886fe360dc34f8fed2,NaN,Main,NaN,NaN,NaN,61d51a814a2e3a0009945232,62de60886fe360dc34f8fed3,KDMRS Muslim,...,NaN,[],NaN,NaN,NaN,Client,NaN,[],[],2022-07-25T09:21:12.942Z
1928,0.0,62df53d6cf7f9fbfabe61de6,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-07-26T06:27:21.479Z,[],60138812789,NaN,NaN,Client,NaN,[],"[{""name"":""tutorialDashboard"",""status"":true,""_i...",2022-07-26T06:29:23.008Z
1929,0.0,62df66c402ff436100394240,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[],60123892500,NaN,NaN,Client,NaN,[],[],2022-07-26T04:00:04.060Z
1930,0.0,62df66f8c77d30f942cdb3c1,NaN,Child,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,[],60122085590,NaN,NaN,Client,NaN,[],[],2022-07-26T04:00:56.870Z

In [6]:
udata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1931 entries, 0 to 1930
Data columns (total 53 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   __v                        1895 non-null   float64
 1   _id                        1895 non-null   object
 2   about                      51 non-null     object
 3   accountType                1779 non-null   object
 4   businessNature             739 non-null    object
 5   childAccounts              1298 non-null   object
 6   clientOrigin               149 non-null    object
 7   commercialPic              980 non-null    object
 8   company                    1841 non-null   object
 9   companyName                980 non-null    object
 10  contractPeriod.endDate     289 non-null    object
 11  contractPeriod.startDate   289 non-null    object
 12  createdAt                  1895 non-null   object
 13  createdMeetings            506 non-null    object
 14  createdMonths              1300 non-null   object
 15  createdProfiles            1300 non-null   object
 16  createdUploads             1300 non-null   object
 17  creativePic                930 non-null    object
 18  deleted                    1886 non-null   float64
 19  demoAbout                  8 non-null      object
 20  demoVideo                  4 non-null      object
 21  dmPic                      931 non-null    object
 22  email                      1886 non-null   object
 23  failedLoginAttempts        1420 non-null   object
 24  fbId                       61 non-null     float64
 25  fbPages                    1694 non-null   object
 26  fbToken                    900 non-null    object
 27  googleRefreshToken         6 non-null      object
 28  googleToken.email          11 non-null     object
 29  googleToken.refresh_token  11 non-null     object
 30  googleToken.scope          11 non-null     object
 31  isAdmin                    1883 non-null   float64
 32  isDemoPic                  7 non-null      float64
 33  jobTitle                   753 non-null    object
 34  monthlyVisualsToRate       437 non-null    object
 35  months                     1288 non-null   object
 36  name                       1883 non-null   object
 37  notes                      44 non-null     object
 38  otherAccounts              1735 non-null   object
 39  package                    289 non-null    object
 40  parentAccount              799 non-null    object
 41  password                   1638 non-null   object
 42  passwordResetSentAt        549 non-null    object
 43  passwordUpdatedAt          1085 non-null   object
 44  pendingActions             1135 non-null   object
 45  phoneNo                    1529 non-null   object
 46  position                   104 non-null    object
 47  profilePhoto               167 non-null    object
 48  role                       1883 non-null   object
 49  status                     15 non-null     object
 50  tutoCompletedMobile        1512 non-null   object
 51  tutoCompletedWeb           1767 non-null   object
 52  updatedAt                  1883 non-null   object
dtypes: float64(5), object(48)
memory usage: 799.7+ KB

In [13]:
udata = udata[["_id","commercialPic","company","companyName","contractPeriod.endDate","contractPeriod.startDate","email","creativePic","dmPic","jobTitle","name","position","role"]]

In [14]:
udata

,_id,commercialPic,company,companyName,contractPeriod.endDate,contractPeriod.startDate,email,creativePic,dmPic,jobTitle,name,position,role
0,5f0d74cef7086100081ebb0f,NaN,5e3a7ed59de016f90b2edd55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5f0ecabf148d15000889fb09,6073e10d147c8e0008da2b88,5f0ecabf148d15000889fb0a,Sin Ter May Sdn. Bhd.,2020-07-15T09:17:32.000Z,2020-07-15T09:17:32.000Z,xinghui@sintermay.com.my,5f0c0c24cb0ca40007c41135,60eced673f48690008bb8499,Operation Manager,Winnie,NaN,Client
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,62de081ec36b1a152aaff688,NaN,NaN,NaN,NaN,NaN,shafiqa.hanafi@axehedge.com,NaN,NaN,NaN,Shafiqa,NaN,Client
1927,62de60886fe360dc34f8fed2,61d51a814a2e3a0009945232,62de60886fe360dc34f8fed3,KDMRS Muslim,NaN,NaN,hannan@portalmudah.com,NaN,NaN,Advisor,Hannan Aminnuddin,NaN,Client
1928,62df53d6cf7f9fbfabe61de6,NaN,NaN,NaN,NaN,NaN,hafizah@sintermay.com.my,NaN,NaN,NaN,Hafizah Jamal,NaN,Client
1929,62df66c402ff436100394240,NaN,NaN,NaN,NaN,NaN,thomas.tuan@pakai.com,NaN,NaN,NaN,Thomas Tuan,NaN,Client
1930,62df66f8c77d30f942cdb3c1,NaN,NaN,NaN,NaN,NaN,gerald.dcruz@sanieuro.com,NaN,NaN,NaN,Gerald D'Cruz,NaN,Client

In [22]:
udata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1931 entries, 0 to 1930
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   _id                       1895 non-null   object
 1   commercialPic             980 non-null    object
 2   company                   1841 non-null   object
 3   companyName               980 non-null    object
 4   contractPeriod.endDate    289 non-null    object
 5   contractPeriod.startDate  289 non-null    object
 6   creativePic               930 non-null    object
 7   dmPic                     931 non-null    object
 8   jobTitle                  753 non-null    object
 9   position                  104 non-null    object
 10  role                      1883 non-null   object
dtypes: object(11)
memory usage: 166.1+ KB

In [23]:
udata.commercialPic.unique()

array([nan, '6073e10d147c8e0008da2b88', '5fe94a4b73981c0009d84195',
       '5f0ed1a8608ba200074dd92e', '5f0e782fc1769700080c1468',
       '5f0cffce1793420008dd0c2a', '613f215363e6390008aa2290',
       '5f6433b5c5e60b0008883d1e', '5f3b2b9700a2880008cab028',
       '61307bd52587fa0008d34ef3', '60b4607f16148100083bf59d',
       '615cfbde39329500085d865e', '607ce38d8c07b30008ce4c57',
       '60e29e84297de80008a23eef', '6279c69bc81551e1c6b8a927',
       '60c6f762512e0e000845fa1a', '6073e0f514418100083addd4',
       '62a30c2a48438129f2eed723', '61d51a814a2e3a0009945232',
       '61d515d2e1117a0009c5b17e', '62833f272ab24922347dc309',
       '6130302625153a0009135986', '60c6f73e38ea9f0008dc2bf4',
       '612f4bf9a7c63e0009547371', '61d4ff32c654c5000932fde2',
       '62a30c7ac9f84d631336506c'], dtype=object)

In [24]:
udata.creativePic.unique()

array([nan, '5f0c0c24cb0ca40007c41135', '5fe9481fb5b8e70008c390da',
       '5f0d74cef7086100081ebb0f', '5f2a12acd555ae0007e59258',
       '5fc4441faa015500083def15', '5f102cbe6c5fd20007e74ab7',
       '5f0c0bdf7097fb000812f754', '5f0d6d1a506f0b0007d581c2',
       '5f0c0da37097fb000812f755', '5fa1160269144c0008c48359',
       '5f769a8f7b9dbf0008cd9897', '5f0e75072be424000791bb03',
       '5f4f5c0d0641bf0007547c27', '621dcf520af413d52f3dc675',
       '5f0e860e07f85500079c4b33', '5f30e5052ad0820008202029',
       '6246b8a5ca8878605b3aceb8', '60505b5460c4840008badf73',
       '62be9b29307b2e724c28bb61', '6108a1db803d090007ff2d25',
       '6108a1ca37e12a0008a4a239', '629ee1ff142a04d0074ba4d5'],
      dtype=object)

In [25]:
udata.dmPic.unique()

array([nan, '60eced673f48690008bb8499', '5fe948b4710ce80008d586f3',
       '5f3114fac255b600071171aa', '5f0c0eef14cbb5000953b520',
       '5f2a069d17fad50008eb7414', '5f3a1952488ca10008c7404a',
       '5fbc802ce1d76d0008e437d0', '610796da2e0e650008150dfd',
       '61a72291931c8f0008b4f7dc', '5f0c089ceafbe60007a22582',
       '5f0c1465381347000894299a', '5f5f01742aec360008056c0d',
       '610791973831980008abab74', '60b4609d2f659b00080f5a48',
       '5f5f019119afea0007d5a23f', '6110f49b1ebc9600083b06a4',
       '5f28b358cc8da20008491f09', '60ee50858b892800086d76b1',
       '60ebdb909219ac00084f8672', '6108f12ed9d96600098fbfd3',
       '612f31469832b40008335329', '5febde5fccf2ce000870f2b5',
       '62be9b984dba889c1d721598', '612f30e29832b40008335326',
       '612f31160f5c290008ca662a', '610791b3e7ef200009cc7151',
       '62d1136361f5bcf1ca723d6e', '62d51091572dc5f0ed7a5d84',
       '62d1134df1e44acf881b211a'], dtype=object)

In [16]:
udata.fillna("NA")

,_id,commercialPic,company,companyName,contractPeriod.endDate,contractPeriod.startDate,email,creativePic,dmPic,jobTitle,name,position,role
0,5f0d74cef7086100081ebb0f,NA,5e3a7ed59de016f90b2edd55,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,5f0ecabf148d15000889fb09,6073e10d147c8e0008da2b88,5f0ecabf148d15000889fb0a,Sin Ter May Sdn. Bhd.,2020-07-15T09:17:32.000Z,2020-07-15T09:17:32.000Z,xinghui@sintermay.com.my,5f0c0c24cb0ca40007c41135,60eced673f48690008bb8499,Operation Manager,Winnie,NA,Client
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,62de081ec36b1a152aaff688,NA,NA,NA,NA,NA,shafiqa.hanafi@axehedge.com,NA,NA,NA,Shafiqa,NA,Client
1927,62de60886fe360dc34f8fed2,61d51a814a2e3a0009945232,62de60886fe360dc34f8fed3,KDMRS Muslim,NA,NA,hannan@portalmudah.com,NA,NA,Advisor,Hannan Aminnuddin,NA,Client
1928,62df53d6cf7f9fbfabe61de6,NA,NA,NA,NA,NA,hafizah@sintermay.com.my,NA,NA,NA,Hafizah Jamal,NA,Client
1929,62df66c402ff436100394240,NA,NA,NA,NA,NA,thomas.tuan@pakai.com,NA,NA,NA,Thomas Tuan,NA,Client
1930,62df66f8c77d30f942cdb3c1,NA,NA,NA,NA,NA,gerald.dcruz@sanieuro.com,NA,NA,NA,Gerald D'Cruz,NA,Client

In [17]:
udata.to_excel("user_data.xlsx", index=False)